<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Skip Prediction</title>
</head>

<body>
        <form action="{{ url_for('predict')}}" method="post">   
           

            <h3>session_position(1-20)</h3>
            <input id="session_position" name="session_position" type="number ">

            <h3>session_leangth(10-20)</h3>
            <input id="session_length" name="session_length" type="number ">
            
            </select>            
            <h3>context_switch</h3><br><select name="context_switch" id="context_switch" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>            
  
            </select>
            <h3>no_pause_before_play</h3><br><select name="no_pause_before_play" id="no_pause_before_play" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>            
            
            <h3>hist_user_behavior_n_seekfwd</h3>
            <input id="hist_user_behavior_n_seekfwd" name="hist_user_behavior_n_seekfwd" type="number ">
            
            <h3>hist_user_behavior_n_seekback</h3>
            <input id="hist_user_behavior_n_seekback" name="hist_user_behavior_n_seekback" type="number ">
            
            </select>            
            <h3>shuffle</h3><br><select name="hist_user_behavior_is_shuffle" id="hist_user_behavior_is_shuffle" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            
            </select>
            <h3>premium</h3><br><select name="premium" id="premium" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>  
 
            
            </select>
            <h3>context_type_catalog</h3><br><select name="context_type_catalog" id="context_type_catalog" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select> 
            </select>
            <h3>context_type_charts</h3><br><select name="context_type_charts" id="context_type_charts" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select> 
            </select>
            <h3>context_type_editorial_playlist</h3><br><select name="context_type_editorial_playlist" id="context_type_editorial_playlist" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select> 
            </select>
            <h3>context_type_personalized_playlist</h3><br><select name="context_type_personalized_playlist" id="context_type_personalized_playlist" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select> 
            </select>
            <h3>context_type_radio</h3><br><select name="context_type_radio" id="context_type_radio" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>
            <h3>context_type_user_collection</h3><br><select name="context_type_user_collection" id="context_type_user_collection" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select> 
            </select>            
            <h3>start_appload</h3><br><select name="hist_user_behavior_start_appload" id="hist_user_behavior_start_appload" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>start_backbtn</h3><br><select name="hist_user_behavior_start_backbtn" id="hist_user_behavior_start_backbtn" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>start_clickrow</h3><br><select name="hist_user_behavior_start_clickrow" id="hist_user_behavior_start_clickrow" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>start_endplay</h3><br><select name="hist_user_behavior_start_endplay" id="hist_user_behavior_start_endplay" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>start_fwdbtn</h3><br><select name="hist_user_behavior_start_fwdbtn" id="hist_user_behavior_start_fwdbtn" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>start_playbtn</h3><br><select name="hist_user_behavior_start_playbtn" id="hist_user_behavior_start_playbtn" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>start_remote</h3><br><select name="hist_user_behavior_start_remote" id="hist_user_behavior_start_remote" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>start_trackdone</h3><br><select name="hist_user_behavior_start_trackdone" id="hist_user_behavior_start_trackdone" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>start_trackerror</h3><br><select name="hist_user_behavior_start_trackerror" id="hist_user_behavior_start_trackerror" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>end_backbtn</h3><br><select name="hist_user_behavior_end_backbtn" id="hist_user_behavior_end_backbtn" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>end_clickrow</h3><br><select name="hist_user_behavior_end_clickrow" id="hist_user_behavior_end_clickrow" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>end_endplay</h3><br><select name="hist_user_behavior_end_endplay" id="hist_user_behavior_end_endplay" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>end_fwdbtn</h3><br><select name="hist_user_behavior_end_fwdbtn" id="hist_user_behavior_end_fwdbtn" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>end_logout</h3><br><select name="hist_user_behavior_end_logout" id="hist_user_behavior_end_logout" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>end_remote</h3><br><select name="hist_user_behavior_end_remote" id="hist_user_behavior_end_remote" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            </select>            
            <h3>end_trackdone</h3><br><select name="hist_user_behavior_end_trackdone" id="hist_user_behavior_end_trackdone" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            
            <h3>duration (in seconds)</h3>
            <input id="duration" name="duration" type="number ">            
            
            <h3>us_popularity_estimate (in percentage)</h3>
            <input id="us_popularity_estimate" name="us_popularity_estimate" type="number "> 

            <h3>acousticness (0-0.99)</h3>
            <input id="acousticness" name="acousticness" type="number "> 
           
            <h3>beat_strength (0-0.99)</h3>
            <input id="beat_strength" name="beat_strength" type="number ">
             
            <h3>bounciness (0-0.99)</h3>
            <input id="bounciness" name="bounciness" type="number "> 
                       
            <h3>danceability (0-0.98)</h3>
            <input id="danceability" name="danceability" type="number ">   
                     
            <h3>dyn_range_mean(0-32)</h3>
            <input id="dyn_range_mean" name="dyn_range_mean" type="number ">
                        
            <h3>energy(0-0.99)</h3>
            <input id="energy" name="energy" type="number ">            
            
            <h3>instrumentalness(0-0.99)</h3>
            <input id="instrumentalness" name="instrumentalness" type="number ">            
            
            <h3> flatness (0-1)</h3>
            <input id="flatness" name="flatness" type="number ">
            
            <h3>liveness(0-0.99)</h3>
            <input id="liveness" name="liveness" type="number ">            
            
            <h3>loudness (-60 to +1.6)</h3>
            <input id="loudness" name="loudness" type="number "> 
                       
            <h3> mechanism (0-1)</h3>
            <input id="mechanism" name="mechanism" type="number ">   
            </select>            
            <h3>is_major</h3><br><select name="is_major" id="is_major" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
          
            <h3> organism (0-0.96)</h3>
            <input id="organism" name="organism" type="number ">          
          
            <h3>speechiness(0-0.96)</h3>
            <input id="speechiness" name="speechiness" type="number ">          
          
            <h3>tempo (0-219)</h3>
            <input id="tempo" name="tempo" type="number ">
            
            <h3>valence (0-0.99)</h3>
            <input id="valence" name="valence" type="number ">            
            
            <h3>acoustic_vector_0 (0-0.93)</h3>
            <input id="acoustic_vector_0" name="acoustic_vector_0" type="number ">                      
          
            <h3>acoustic_vector_1 (0-0.82)</h3>
            <input id="acoustic_vector_1" name="acoustic_vector_1" type="number ">          
          
            <h3>acoustic_vector_2 (0-0.60)</h3>
            <input id="acoustic_vector_2" name="acoustic_vector_2" type="number ">          
           
            <h3>acoustic_vector_3 (0-1.07)</h3>
            <input id="acoustic_vector_3" name="acoustic_vector_3" type="number ">           
           
            <h3>acoustic_vector_4 (0-0.89)</h3>
            <input id="acoustic_vector_4" name="acoustic_vector_4" type="number ">           
           
            <h3>acoustic_vector_5 (0-0.38) </h3>
            <input id="acoustic_vector_5" name="acoustic_vector_5" type="number ">           
           
            <h3>acoustic_vector_6 (0-0.99)</h3>
            <input id="acoustic_vector_6" name="acoustic_vector_6" type="number ">           
           
            <h3>acoustic_vector_7 (0-1.1)</h3>
            <input id="acoustic_vector_7" name="acoustic_vector_7" type="number ">           
          
            </select>
                            
            <br><br><button id="sub" type="submit ">Predict</button>
            <br>




        </form>



        <br><br><h3>{{ prediction_texts }}<h3>
    </div>

</body>

</html>
