<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Skip Prediction</title>
</head>

<body>
            
            </select>            
            <h3>shuffle</h3><br><select name="hist_user_behavior_is_shuffle" id="hist_user_behavior_is_shuffle" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>

            </select>            
            <h3>seekbar</h3><br><select name="hist_user_seek_behavior" id="hist_user_seek_behavior" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>
            
            </select>                            
            <h3>time_of_day</h3><br><select name="time_of_day" id="time_of_day" required="required">
                <option value="dawn">dawn</option>
                <option value="early_morning">early_morning</option> 
                <option value="morning">morning</option>
                <option value="mid_morning">mid_morning</option>
                <option value="noon">noon</option>
                <option value="afternoon">afternoon</option>
                <option value="evening">evening</option>
                <option value="night">night</option>
            </select>
           
            </select>                                      
            <h3>release_condition</h3><br><select name="release_condition" id="release_condition" required="required">
                <option value="very_old">very_old</option>
                <option value="old">old</option>                  
                <option value="relatively_old">relatively_old</option>
                <option value="new">new</option> 
                <option value="mordern">mordern</option>
                <option value="latest">latest</option> 
            </select>

            <h3>session_position(1-20)</h3>
            <input id="session_position" name="session_position" type="number ">

            <h3>session_leangth(10-20)</h3>
            <input id="session_length" name="session_length" type="number ">
            
            </select>            
            <h3>context_switch</h3><br><select name="context_switch" id="context_switch" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>            
  
            </select>
            <h3>no_pause_before_play</h3><br><select name="no_pause_before_play" id="no_pause_before_play" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>            
            
            <h3>hist_user_behavior_n_seekfwd</h3>
            <input id="hist_user_behavior_n_seekfwd" name="hist_user_behavior_n_seekfwd" type="number ">
            
            <h3>hist_user_behavior_n_seekback</h3>
            <input id="hist_user_behavior_n_seekback" name="hist_user_behavior_n_seekback" type="number ">
            
            </select>
            <h3>premium</h3><br><select name="premium" id="premium" required="required">
                <option value="0">0</option>
                <option value="1">1</option>
            </select>            

            </select>                                      
            <h3>context_type</h3><br><select name="context_type" id="context_type" required="required">
                <option value="user_collection">user_collection</option>
                <option value="catalog">catalog</option>                  
                <option value="editorial_playlist">editorial_playlist</option>
                <option value="radio">radio</option> 
                <option value="personalized_playlist">personalized_playlist</option>
                <option value="charts">charts</option> 
            </select>
            
            </select>                                      
            <h3>hist_user_behavior_reason_start</h3><br><select name="hist_user_behavior_reason_start" id="hist_user_behavior_reason_start" required="required">
                <option value="fwdbtn">fwdbtn</option>
                <option value="trackdone">trackdone</option>                  
                <option value="clickrow">clickrow</option>
                <option value="backbtn">backbtn</option> 
                <option value="appload">appload</option>
                <option value="playbtn">playbtn</option> 
                <option value="remote">remote</option> 
                <option value="trackerror">trackerror</option>
                <option value="endplay">endplay</option> 
            </select>
            
            </select>                                      
            <h3>hist_user_behavior_reason_end</h3><br><select name="hist_user_behavior_reason_end" id="hist_user_behavior_reason_end" required="required">
                <option value="fwdbtn">fwdbtn</option>
                <option value="trackdone">trackdone</option>                  
                <option value="clickrow">clickrow</option>
                <option value="backbtn">backbtn</option> 
                <option value="endplay">endplay</option>
                <option value="logout">logout</option> 
                <option value="remote">remote</option> 
            </select>            
            
            <h3>duration</h3>
            <input id="duration" name="duration" type="number ">            
            
            <h3>us_popularity_estimate</h3>
            <input id="us_popularity_estimate" name="us_popularity_estimate" type="number "> 

            <h3>acousticness</h3>
            <input id="acousticness" name="acousticness" type="number "> 
           
            <h3>beat_strength</h3>
            <input id="beat_strength" name="beat_strength" type="number ">
             
            <h3>bounciness</h3>
            <input id="bounciness" name="bounciness" type="number "> 
                       
            <h3>danceability</h3>
            <input id="danceability" name="danceability" type="number ">   
                     
            <h3>dyn_range_mean</h3>
            <input id="dyn_range_mean" name="dyn_range_mean" type="number ">
                        
            <h3>energy</h3>
            <input id="energy" name="energy" type="number ">            
            
            <h3>instrumentalness</h3>
            <input id="instrumentalness" name="instrumentalness" type="number ">            
            
            <h3> flatness </h3>
            <input id="flatness" name="flatness" type="number ">
            
            <h3>liveness</h3>
            <input id="liveness" name="liveness" type="number ">            
            
            <h3>loudness</h3>
            <input id="loudness" name="loudness" type="number "> 
                       
            <h3> mechanism </h3>
            <input id="mechanism" name="mechanism" type="number ">            
            
            </select>                                      
            <h3> mode</h3><br><select name="mode" id="mode" required="required">
                <option value="major">major</option>
                <option value="minor">minor</option>                   
            </select>          
          
            <h3> organism </h3>
            <input id="organism" name="organism" type="number ">          
          
            <h3>speechiness</h3>
            <input id="speechiness" name="speechiness" type="number ">          
          
            <h3>tempo </h3>
            <input id="tempo" name="tempo" type="number ">
            
            <h3>valence (0-0.99)</h3>
            <input id="valence" name="valence" type="number ">            
            
            <h3>acoustic_vector_0 </h3>
            <input id="acoustic_vector_0" name="acoustic_vector_0" type="number ">                      
          
            <h3>acoustic_vector_1 </h3>
            <input id="acoustic_vector_1" name="acoustic_vector_1" type="number ">          
          
            <h3>acoustic_vector_2 )</h3>
            <input id="acoustic_vector_2" name="acoustic_vector_2" type="number ">          
           
            <h3>acoustic_vector_3 )</h3>
            <input id="acoustic_vector_3" name="acoustic_vector_3" type="number ">           
           
            <h3>acoustic_vector_4 </h3>
            <input id="acoustic_vector_4" name="acoustic_vector_4" type="number ">           
           
            <h3>acoustic_vector_5 </h3>
            <input id="acoustic_vector_5" name="acoustic_vector_5" type="number ">           
           
            <h3>acoustic_vector_6 </h3>
            <input id="acoustic_vector_6" name="acoustic_vector_6" type="number ">           
           
            <h3>acoustic_vector_7 </h3>
            <input id="acoustic_vector_7" name="acoustic_vector_7" type="number ">           
          

                            
            <br><br><button id="sub" type="submit ">Predict</button>
            <br>




        </form>



        <br><br><h3>{{ prediction_texts }}<h3>
    </div>

</body>

</html>
